# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib



# Executables
*.exe
*.out
*.app

# Visual Studio
*.vs
Assets
bin



Game-Project/src/Entity/Enemy/.vshistory
Game-Project/src/Entity/Entity resources/.vshistory
Game-Project/src/Entity/Player/.vshistory
Game-Project/src/Entity/Weapons/.vshistory
Game-Project/src/Entity/World/.vshistory
Game-Project.rar
